.mblViewStack {
clip: rect(0px, 300px, 200px, 0px);
  box-sizing: border-box;

}

.mblViewStackFlexBox {
  display: -webkit-flex;
  height: 100%;
  width: 300%;
  margin-left:0%;
  .animateMarginLeft();
}

.mblViewStack:before{
  content: "";
  position: absolute;
  //z-index: 1;
  border: solid 1px black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mblViewStackFlexBox > div{
  //display: none;
  height: 100%;
  width: 100%;
  //margin-left: -100%;
}

@ANIMATION_DURATION: 0.4s;
@ANIMATION_STYLE:  ease-in-out;
.animateMarginLeft{
  -moz-transition: margin-left @ANIMATION_DURATION @ANIMATION_STYLE;
  -webkit-transition: margin-left @ANIMATION_DURATION @ANIMATION_STYLE;
  -ms-transition: margin-left @ANIMATION_DURATION @ANIMATION_STYLE;
  transition: margin-left @ANIMATION_DURATION @ANIMATION_STYLE;
}