@ANIMATION_DURATION: .4s;
@ANIMATION_STYLE:  ease-in-out;

.mblViewStack {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative !important;
}

.mblViewStack div{
  position: absolute !important;
  box-sizing: border-box;
  font-weight: bold;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.mblSlideAnim {
  -moz-transition: -moz-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  -webkit-transition: -webkit-transform @ANIMATION_DURATION @ANIMATION_STYLE;
  transition: transform @ANIMATION_DURATION @ANIMATION_STYLE;
}

.leftTranslated{
-webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
}
.rightTranslated{
  -webkit-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
}

.notTranslated{
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);

}

